// mobile first
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import'./secciones/header';
@import'./secciones/body';
@import'./secciones/footer';
@import'./secciones/galeria';
@import'./secciones/formulario';
@import'./secciones/card';
@import'./secciones/acordeon';
// variables
@import'./variables/extend.scss';


.strong{
    @extend %strong;
    @include fontStyle;
}
.row {
        display: flex;
        flex-wrap: wrap;
    }
@media (min-width: 320px) {
  .header {
    text-align: center;
    &__logo {
      width: 80px;
      height: 80px;
    }
  }
  .bg-light {
    text-align: center;
    width: 100%;
    flex-direction: column;
    background-color: #767522 !important;
  }

  .body {
    &__li {
      list-style: none;
      text-align: center;
      flex-direction: column;
    }
  }
}
.footer {
  &__h3 {
    font-size: calc(1rem + 0.6vw);
    text-align: center;
  }
}
@media (min-width: 480px) {
  .card__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
}
@media (min-width: 600px) {
  .body {
    background-color: #a9e190;
  }
    .card__container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
  }
  }
  .container {
    background-color: #a9e190;
  }

@media (min-width: 780px) {
  .body {
    flex-direction: inherit;
    background-color: #a9e190!important;
    &__li {
      list-style: none;
      text-align: center;
      background-color: #a9e190;
      list-style: none;
      text-align: center;
      }
      .card__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    }
    .formulario__iframe{
        position: relative;
        left: 28%;

    }
    }
    @media(min-width:1024px){
      .card__container {
        display: flex!important;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    }