.header {
 background-color:#767522;
    &__logo {
      width: 100px;
      height: 100px;
    }
    &__h1 {
      text-align: center;
      color: cadetblue;
    }
    &__container-fluid {
      flex-direction: column;
    }
    .nav-link{
      background-color: cadetblue;     
    }
  }
